.authentication-page{
    padding-top: 2rem;
    .authentication-form{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        form{
            margin-top: 1.5rem;
            input{
                height: 45px;
                border-radius: 0;
                margin: 1rem 0;
            }
            button{
                width: 100%;
            }
        }
    }
    
}