.home-banner{
    .carousel{
        height: 600px;
        overflow-y: hidden;

        .home-search-block{
            position: absolute;
            top: 20%;
            left: 30%;
            right: 30%;
        }
    }
}