<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-0 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="assets/images/logo.png" class="img-fluid navbar-logo" alt="">
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" [routerLink]="''" class="nav-link px-2 link-secondary">Accueil</a></li>
        <li><a href="#" [routerLink]="'a-propos'" class="nav-link px-2 link-dark">A propos de nous</a></li>
        <li><a href="#" [routerLink]="'livres'" class="nav-link px-2 link-dark">Nos livres</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" [routerLink]="'/connexion'" class="btn btn-outline-primary me-2">Connexion</button>
        <button type="button" [routerLink]="'/inscription'" class="btn btn-primary">Inscription</button>
      </div>
    </header>
  </div>