<div class="about-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="assets/images/presentation-1.jpg" alt="">
            </div>
        </div>
        <div class="col-md-12">
            <h1>Qui sommes-nous ?</h1>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nihil suscipit inventore fuga numquam magni quae, nostrum praesentium saepe officiis laudantium necessitatibus earum. Cupiditate optio ut fugit quam pariatur consequuntur?</p>
                <p>Vero cupiditate repellendus velit commodi omnis hic corrupti recusandae quidem perferendis corporis temporibus aliquam nobis soluta amet, ut, expedita earum eligendi, enim quas eos qui. Ipsam eum facilis ad excepturi.</p>
                <p>Veritatis perspiciatis numquam explicabo, eos ad ab accusantium. Possimus vero beatae quos porro, enim illo sequi quidem pariatur fugit tempora provident esse sunt perferendis et omnis atque. Quam, veniam beatae.</p>
                <p>Dicta aut debitis obcaecati nobis saepe quaerat doloribus amet dignissimos ea exercitationem fuga labore pariatur facilis dolore tempore voluptate illum sed distinctio magnam rerum maxime consequatur, tempora quibusdam? Laborum, sed.</p>
            </div>
        </div>
    </div>
</div>
